<!DOCTYPE html>
<html lang="vi">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Assets/image/logo1.png" type="">

    <!-- Fontfaces CSS-->
    <link href="~/Areas/Admin/Assets/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Areas/Admin/Assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/Areas/Admin/Assets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Areas/Admin/Assets/css/theme.css" rel="stylesheet" media="all">

    @RenderSection("styles", false)

</head>

<body class="animsition" ng-app="AppModule">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/Admin/Home/Index">
                            <img src="~/Areas/Admin/Assets/images/logo1.png" alt="" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        @Html.Partial("_Menu")
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="/Admin/Home/Index">
                    <img src="~/Areas/Admin/Assets/images/logo1.png" alt="" style="width:70px;margin-left:60px" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        @Html.Partial("_Menu")
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                
                            </form>
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">

                                        <div class="image">
                                            <img src="~/Areas/Admin/Assets/images/IMG_0490.JPG" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">Trần ngọc Tú</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="~/Areas/Admin/Assets/images/IMG_0088.JPG" alt="" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">Trần Ngọc Tú</a>
                                                    </h5>
                                                    <span class="email">trantu143444@gmail.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account
                                                    </a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="http://localhost:64820/">
                                                    <i class="zmdi zmdi-power"></i>Logout
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->

            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        @RenderBody()

                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2021 by <a href="https://www.facebook.com/tumin1404/">Trần Ngọc Tú</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

        @RenderSection("modals", false)

    </div>

    <!-- Jquery JS-->
    <script src="~/Areas/Admin/Assets/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Areas/Admin/Assets/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Areas/Admin/Assets/vendor/slick/slick.min.js">
    </script>
    <script src="~/Areas/Admin/Assets/vendor/wow/wow.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/animsition/animsition.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/Areas/Admin/Assets/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/Areas/Admin/Assets/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="~/Areas/Admin/Assets/js/main.js"></script>

    <!-- Angular JS-->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-modal-service.js"></script>
    <script src="~/Scripts/sweetalert2.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-3.0.6.min.js"></script>
    <script src="~/Scripts/Admin/app.js"></script>
    <script src="~/Scripts/ng-file-upload-shim.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>

    @RenderSection("scripts", false)

</body>

</html>
<!-- end document-->
